<h1><%= @room.name %></h1>

<div id="messages" data-room_id = "<%= @room.id %>">
  <%= render @messages %>
</div>
<form>
  <input type="text" data-behavior="room_speaker" id="chat_input" user_id="<%= current_user.id %>" room_id="<%= @room.id %>" 
    placeholder= " #<%= @room.name %> へのメッセージ" >
</form>